*{
    margin: 0;
    padding: 0;
   
}

body{
    background-color: rgba(0, 12, 150, 0.662);

      
      
}
.main{
    justify-self: center;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  

}

.main h2{
    margin-top: 12rem;
   text-align: center;
    
    
    font-size: 2.5rem;
   
}

.navbar{
    width: 100vw;
    height: 5rem;
    /* border: 1px solid black; */
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    background-color: rgb(74, 142, 245);
    position: fixed;
    top: 0;
    /* z-index: 2; */
    
    

    


}
.logo{
    width: 20%;
    height: 4rem;
    /* border: 1px solid black; */
    margin-left: 40px;
    background-image: url(logo\ \(1\).png);
    background-size: 280px;
    background-position: -20px -55px;
    background-repeat: no-repeat;
}



.address{
    height: 2rem;
    width: 125px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    font-size: 25px;
    background-color: rgba(149, 149, 149, 0.632);
    border-radius: 10px;
    
}
.address select{
   height:2rem ;
   width: 6rem;
   border: none;
   border-bottom-right-radius: 10px;
   border-top-right-radius: 10px;


}
.searchbar{
    height: 2.5rem;
    width: 50%;
    /* border: 1px solid black; */
    margin-left: 40px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    align-items: center;


}
.searchbar:hover{
    outline: black solid 1.5px;
}
.searchbar i{
    font-size: 25px;
    margin-left: 10px;
    
}
.searchbar input{
    width: 80%;
    height:2.5rem ;
    border: none;
    padding-left: 20px;
    font-size: 20px;
}
.searchbar input:focus{
    outline: none;
}
.searchbar button{
    height: 2.5rem;
    width: 103px;
    border: none;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 20px;
}
.searchbar button:active{
    box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.265);
}

.id{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: gray;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    border: none;
    
}
.id:active{
    box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.365);
}



.cards{
    
    width: 95%;
    margin-top: 6rem;
    margin-bottom: 50px;
    /* border: 1px solid black; */
    display: grid;
     grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
     justify-content: center;
    
    
     gap: 15px;
     padding: 20px;
    
     
   

}

.card{
   
    /* border: 1px solid black; */
    border-radius: 10px;
    padding: 10px;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    transition: scale 0.2s;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.386);
    
    
}

.image{
    height: 50%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
     
     background-color: rgba(81, 165, 255, 0.724);
     border-radius: 10px;
    /* border: 1px solid black; */
}

.image img{
transition: scale 0.2s;
width: 150px;
}
.image img:hover{
    
 scale: calc(1.1);
}

#title{
    align-self: flex-start;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.1rem;
    margin-bottom: 20px;
    font-weight: 550;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(17, 187, 255);
    
}

#description{
    align-self: flex-start;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    font-weight: 450;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

#price{
    font-size: 22px;
    font-weight: 550;
    width: 90%;
    color: rgb(23, 189, 255);
    margin-top: 20px;
   
    padding-left: 23px;
   
    
}
#price span{
    margin-left: 40%;
}

footer{
   width: 100vw;
   height: 15rem;
   background-color: rgb(62, 62, 62);

   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 30px;
  
   position: relative;
   top: 50px;
  
   
}

footer p{
    margin-top: 10px;
    color: white;
}

.detailsdiv{
    height: fit-content;
    
    width: 90%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;

}

.belowlogo{
    background-image: url(logo\ \(1\).png);
    background-size: contain;
    background-repeat: no-repeat;
    /* border: 1px solid black; */
}

.otherdetails{
    /* border: 1px solid black; */
    display: flex;
    align-items: flex-start;
   
    padding-left: 20px;
    font-size: 20px;
    
}

.otherdetails ul{
    margin-top: 20px;
    color: white;
    
    line-height: 30px;
}
.feedbackdiv{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
   
}

#feedback{
    height: 5rem;
   

    /* border: 1px solid black; */
    margin-top: 20px;
    border-radius: 10px;
    /* padding: 10px; */
    background-color: rgba(255, 255, 255, 0.539);
    resize: none;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 450;
}

#feedback:focus{
    outline: none;
}

#submitbutton{
    width: 4rem;
    height: 2rem;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: rgb(29, 82, 255);
    margin-top: 20px;
   
}
#submitbutton:hover{
    box-shadow: 0 0 2px 2px rgba(76, 174, 255, 0.689);
}
#submitbutton:active{
    box-shadow: none;
}


/* Responsive */

@media(max-width:430px){

    .cards{
    
    gap: 1px;
    padding: 0;
   
    /* border: 1px solid black; */
    width: 100%;
    grid-template-columns: repeat(2, 50%);
        
}
.logo{
    width: 50%;
   
    background-size: 220px;
    background-position: -20px -40px;
    background-repeat: no-repeat;
    margin-left: 20px;
}


.searchbar{
    display: none;
}
.id{
   
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
    
}

.card{
   
    /* border: 1px solid black; */
    
    box-shadow: none;
    border-radius: 0;
    
    
}
.image{
    height: 10rem;
}

.address{
    display: none;
}




.image img{
transition: scale 0.2s;
width: 100px;
}

#price{
    font-size: 18px;
   
   
    
}
footer{
   width: 100vw;
   height:400px;
   background-color: rgb(62, 62, 62);

   display: flex;
   flex-direction: column;
   align-items: flex-start;
   font-size: 20px;

   position: relative;
   top: 200px;
   
   
   
  
   
}
.detailsdiv{
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
   
}

.feedbackdiv{
    flex-direction: column;
    width:90%;
}
footer p{
    margin-top: 10px;
    color: white;
    padding-left: 20px;
}






}
